:root {
    --main-background-color: #2f2f2f;
    --main-color: white;
    --font-size: 85%;
    --selected-color: white;
    --selected-background-color: #e95420;
    --icon-color: #999;
    --icon-selected-color: white;    
    --exif-color: orangered;

    --vue-menu-color: var(--main-color);
    --vue-menu-background-color: var(--tablevue-scrollbar-button-color);
    --vue-menu-hover-color: lightblue;
    --vue-menu-separator-color: lightgray;
    --vue-menu-border-color: gray;
    --vue-menu-shadow-color: rgba(0, 0, 0, 0.4);
    --vue-menu-selected-background-color: var(--selected-background-color);
    --vue-menu-selected-color: white;
    
    --tablevue-main-color: white;
    --tablevue-main-background-color: #2f2f2f;
    --tablevue-right-margin-scrollbar: 6px;
    
    --tablevue-scrollbar-width: 12px;
    --tablevue-scrollbar-border-width: 0px;
    --tablevue-scrollbar-grip-radius: 999px;
    --tablevue-scrollbar-button-display: none; 
    --tablevue-scrollbar-background-color: transparent;
    --tablevue-scrollbar-background-hover-color: #3f3f3f;
    --tablevue-scrollbar-grip-color: gray;    
    --tablevue-scrollbar-grip-hover-color: gray;    
    --tablevue-scrollbar-grip-active-color: var(--selected-background-color);        
    --tablevue-scrollbar-grip-width: 4px;    
    --tablevue-scrollbar-grip-right: 1px;    
    --tablevue-scrollbar-button-color: #666;
    --tablevue-scrollbar-button-hover-color: #555;
    --tablevue-scrollbar-button-active-color: #444;
    --tablevue-scrollbar-button-background-color: white;
    --tablevue-scrollbar-button-hover-background-color: rgb(209, 209, 209);
    --tablevue-scrollbar-button-active-background-color: #aaa;

    --tablevue-selected-color:  #9b9b9b;
    --tablevue-selected-background-color: #3f3f3f;
    --tablevue-columns-separator-color:  #9b9b9b;
    --tablevue-selected-background-hover-color: #545454;
    --tablevue-tr-selected-color: orange;

    --gridsplitter-grip-color: var(--tablevue-selected-background-color);
    --gridsplitter-grip-hover-color: #6b6969;
    --gridsplitter-grip-active-color: darkgray;

    --dialog-main-background-color:  #444;
    --dialog-fader-color: rgba(0, 0, 0, 0.50);
    --dialog-button-color: #e95420;
    --dialog-button-hover-color: #e7835f;
    --dialog-button-active-color: #b94116;
    --dialog-button-focus-color: #e95420;    
}